@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a>div {
  font-weight: bold;
}

#winner {
  @apply rounded-xl text-center flex flex-col items-center bg-amber-100 shadow-lg;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
#winner::after {
  background: conic-gradient(from var(--angle), transparent 50%, #ffe203, #ff9a03, transparent);
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 0.75rem;
  z-index: -1;
  margin: 5px;
  animation: 2s spin linear infinite;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-br from-[#5a8eff] to-[#b069ff] text-white shadow-lg;
  }
  .bg-gradient-secondary {
    @apply bg-gradient-to-br from-[#7bffbb] to-[#00b718] text-white shadow-lg;
  }
  .bg-gradient-tertiary {
    @apply bg-gradient-to-br from-[#ffd788] to-[#ff9e43] text-white shadow-lg;
  }
}