@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-background: linear-gradient(135deg, rgb(68, 30, 138) 0%, rgb(29, 98, 207) 100%);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: var(--bg-background);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a div {
  font-weight: bold;
}

#winner {
  @apply rounded-xl text-center flex flex-col items-center bg-background shadow-lg;
  position: relative;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
#winner::after {
  background: conic-gradient(from var(--angle), transparent 50%, #ffe203, #ff8503, transparent);
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 0.75rem;
  z-index: -1;
  margin: 5px;
  animation: 1.5s spin linear infinite;
  box-shadow:
    0 0 12px 6px #ffe20366,
    0 0 28px 12px #ff9a0355,
    0 0 80px 40px #ffe20388;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

@layer utilities {
  .bg-background {
    background: var(--bg-background);
    background-attachment: fixed;
  }
    .bg-sticky-column {
    background: var(--bg-background);
    background-attachment: fixed;
    background-position: 0 0;
  }
  .bg-gradient-primary {
    @apply bg-gradient-to-br from-[#5a8eff] to-[#b069ff] text-white shadow-lg;
  }
  .bg-gradient-secondary {
    @apply bg-gradient-to-br from-[#7bffbb] to-[#00b718] text-white shadow-lg;
  }
  .bg-gradient-tertiary {
    @apply bg-gradient-to-br from-[#ffd788] to-[#ff9e43] text-white shadow-lg;
  }
  .text-primary {
    @apply bg-gradient-to-br from-[#75a1ff] to-[#9131ff] bg-clip-text text-transparent;
  }
  .border-primary {
    @apply border-gradient-primary;
  }
  .border-secondary {
    @apply border-gradient-secondary;
  }
  .border-tertiary {
    @apply border-gradient-tertiary;
  }
  .border-gradient-primary {
    background-image: var(--bg-background), linear-gradient(to bottom right, #5a8eff, #b069ff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 3.5px;
  }
  .border-gradient-secondary {
    background-image: linear-gradient(white, white), linear-gradient(to bottom right, #7bffbb, #00b718);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 3.5px;
  }
  .border-gradient-tertiary {
    background-image: linear-gradient(white, white), linear-gradient(to bottom right, #ffd788, #ff9e43);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 3.5px;
  }
}